czifile>=2019.7.2
readlif>=0.2.1
h5py>=2.10.0
matplotlib>=3.3.2
nibabel>=3.1.0
numpy>=1.18.1
pyyaml>=5.3.1
#git+git://github.com/RiosGroup/scikit-image.git@STAPL3D-dev#egg=scikit-image
git+git://github.com/RiosGroup/scikit-image.git#egg=scikit-image
scipy>=1.4.1
pandas>=1.0.4
pypdf2>=1.26.0
cython>=0.29.20
